<h1> Add new bookmark </h1>

<form method="post" action="/add_bookmark">
  <p>Title:<input type="text" name="title"></p>
  <p>Last name: <input type="text" name="url"></p>
  <input type="submit" value="Save">
</form>
