<div> <a href='/bookmarks/new'>Add Link</a> </div>

<h1> Bookmarks </h1>

<ul id='bookmarks'>
  <% @bookmarks.each do |bookmark| %>
  <li>
    Title: <%= bookmark.name %>
    URL:   <%= bookmark.url  %>
    Tags:   <%= bookmark.tags.first.name %>

    <!-- <form method="post" action="/add_tag">
      <input type="text" name="<%= bookmark.name %>">
      <input type="submit" value="Add">
    </form> -->

  </li>
  <% end %>
</ul>
