<!DOCTYPE html>
<html>

  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>
    <% if current_user %>
      <h2>Welcome <%= @logged_in_user.email %></h2>
    <% end %>
    <%= yield %>
  </body>

</html>