<form action='/signup' method='post'>
  <p>Email: <input type="email" name="email"></p>
  <p>password: <input type="password" name="password"></p>
  <input type="submit" value="Sign up">
</form>
